.text-primary{
  color: white;
}

.text-secondary{
  color: #61dafb !important;
}

.text-tertiary{
  color: #282c34
}

.bg-primary, .bg-dark, .dropdown-menu{
  background-color: #282c34 !important;
}

.navbar-brand, .nav-link, .dropdown-item{
  color: white !important;
}

.darkSquare{
  background-color: #61dafb;
}

.dropdown-item:hover{
  background-color: #61dafb !important;
  color: #282c34 !important;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.App-logo {
  pointer-events: none;
  height: 30vh;
}

.custom-button {
  background-color: #282c34;
  border: 1px solid white;
  color: #61dafb;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  font-size: 16px;
  border-radius: 8px;
}

.square-selected{
  background-color: #6d7a82 !important;
}

.btn-primary {
  color: #282c34;
  background-color: #61dafb;
  border-color: #61dafb;
  border: 2px solid #61dafb !important;
}

.active, .dropdown-item.active{
  background-color: #61dafb;
  color: #282c34 !important;
}

.game-select{
  border: 4px solid #61dafb;
  border-radius: 25px;
  color: white;
  background-color: #282c34;
  cursor: pointer;
}

.game-select:hover{
  border: 4px solid white;
}

button:hover, .btn-primary.disabled, .btn-primary:disabled{
  background-color: #282c34 !important;
  color: #61dafb !important;
}

.c-pointer{
  cursor: pointer;
}

.btn-secondary {
  /* color: #282c34; */
  color: #61dafb;
  background-color: #282c34 !important;
  border: 2px solid #61dafb !important;
}

.btn-secondary:hover{
  background-color: #61dafb !important;
  color: #282c34 !important;
}
.btn-secondary:focus{
  background-color: #61dafb;
  color: #61dafb;
}